@import url('https://fonts.googleapis.com/css?family=Assistant:300,600,700');

:root {
    --contentColor: #3366cc;
}

/*NOT MY SHIT*/
* {
	font-family: 'Assistant', sans-serif;
	/*font-weight: bold;*/
      box-sizing: inherit;
}

body{ /*Background*/
    background-image: url("https://i.imgur.com/JTW1H0Z.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    background-color: #d9d9d9;
    overflow-x: hidden;
}
.second{
    /*text-align:right;*/
	color: #ffffff;
	background: #daa520;
	height: 40px;
	border: 0;
	border-bottom: 4px solid #856514;
	border-radius: 10px;
	margin-top: 30px;
    /*unselectable*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.second:hover {
	background: #c8981e;
	cursor: pointer;
}

.second:active {
	background: #daa520;
}
.sepline {
    width: 40%;
}

.thanks {
font-size:large;
color: #daa520;
text-align:center;
direction:rtl;
font-weight:bold;
}
.thankstitle {
    color: red;
    font-weight: 900;
    font-size: 1.6em;
    text-align:center;
}
.footerlinks {
    right:23%;
    position:relative;
    color:#008080;
    font-weight: bold;
    top:5%;    
}
.footerrest {
        text-align:center;
    position:relative;
    top: 5%;
}
.footersmiley {
    right:23%;
    position:relative;
    top: 5%;
    color:#000000;
    font-weight:900;
    font-size:large;
}
.footerimg{
    position: relative;
}
.footerbr{
    line-height: 150%;
}
/*=-========================*/
.dept {
    color:#008080;
    font-weight:600;
}
    .dept:hover {
        text-decoration:underline #008080;
    }
.section1 {   
    width: 200%; /* Full width */
    height: 100%; /* Full height */
    position:sticky;
    display: block;
}

@media screen and (max-width: 1750px) {
    .tooltips {
        visibility:hidden;
    }
}
/*Selection*/
::selection {
    background: #008080; /* WebKit/Blink Browsers */
    color: #000000;
}
::-moz-selection {
    background: #008080; /* Gecko Browsers */
    color: #000000;
}

/*==ONLY MATTERS FROM HERE=======*/
.finalethumb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:144px;
    width:256px;
    border:solid;
    border-color: var(--contentColor);
}
#submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
	color: #ffffff;
	font-weight: bold;
	background: var(--contentColor);
	width: 125px;
	height: 40px;
	border: 0;
	border-bottom: 4px solid #1d3048;
	border-radius: 10px;
	margin-top: 30px;
}

#submit-button:hover {
	background: #1d3048;
	cursor: pointer;
}

#submit-button:active {
	background: #1d3048;
}

.radioLabel {
    position:relative;
    right:2.5%;
	color: #1d3048;
	font-weight: 600;
	font-size: 1.2em;
    direction:rtl;
    /*unselectable*/
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
/*============*/
.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
